
button {
    width: 100px;
    height: 50px;
    background-color: paleturquoise;
    border-radius: 50px;
    ;
    border: none;
    color: rgb(1, 153, 255);
    font-weight: bold;
}


.motherbox {
    display: flex;
    justify-content: space-between;
    
}

/* .children-bx1 {
    transition: transform .7s ease-in-out;
    position: absolute;
    bottom: 0px;
}

.children-bx1:hover {
    transform: rotate(360deg);
  }
 */

