.motherbox {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    margin: none;
    padding: none;
}


.box1 {
    background-color: peachpuff;
    width: 400px;
    height: 200px;
    border: 1px solid saddlebrown;
}

.box2 {
    background-color: maroon;
    width: 100px;
    height: 100px;
    border: 1px solid saddlebrown;
    color: white;
    position: relative;
    top: 102px;
}

.box3 {
    background-color: rgb(255, 123, 0);
    width: 100px;
    height: 100px;
    border: 1px solid saddlebrown;
    color: white;
    position: relative; 
    top: 304px;
    right: 300px;
}